{
  "root": true,
  "extends": ["@guanghechen", "prettier"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "overrides": [
    {
      "files": ["**/*.mjs"],
      "extends": ["@guanghechen", "prettier"],
      "parser": "@typescript-eslint/parser"
    },
    {
      "files": ["script/**/*.mjs"],
      "extends": ["@guanghechen", "prettier"],
      "parser": "@typescript-eslint/parser",
      "rules": {
        "import/no-extraneous-dependencies": 0
      }
    },
    {
      "files": ["**/*.ts", "**/*mts"],
      "extends": ["@guanghechen", "@guanghechen/ts", "prettier"],
      "rules": {
        "@typescript-eslint/method-signature-style": 0,
        "@typescript-eslint/no-empty-interface": 0,
        "@typescript-eslint/no-useless-constructor": 0,
        "import/no-named-as-default": 0
      }
    },
    {
      "files": ["script/**/*.ts", "script/**/*.mts"],
      "extends": ["@guanghechen", "@guanghechen/ts", "prettier"],
      "rules": {
        "@typescript-eslint/method-signature-style": 0,
        "@typescript-eslint/no-empty-interface": 0,
        "@typescript-eslint/no-useless-constructor": 0,
        "import/no-extraneous-dependencies": 0,
        "import/no-named-as-default": 0
      }
    },
    {
      "files": ["**/__test__/*.ts", "**/__test__/*.mts", "jest.setup.ts"],
      "extends": ["@guanghechen", "@guanghechen/ts", "plugin:jest/recommended", "prettier"],
      "rules": {
        "@typescript-eslint/ban-ts-comment": 0,
        "@typescript-eslint/no-empty-interface": 0,
        "@typescript-eslint/no-useless-constructor": 0,
        "import/no-extraneous-dependencies": 0,
        "jest/expect-expect": 0
      }
    }
  ]
}
