{
  "root": true,
  "extends": ["@guanghechen", "prettier"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "overrides": [
    {
      "files": ["**/*.js"],
      "parser": "@babel/eslint-parser",
      "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "requireConfigFile": false,
        "allowImportExportEverywhere": true
      }
    },
    {
      "files": ["**/*.ts"],
      "extends": ["@guanghechen", "@guanghechen/ts", "prettier"],
      "rules": {
        "@typescript-eslint/method-signature-style": 0,
        "@typescript-eslint/no-empty-interface": 0,
        "@typescript-eslint/no-useless-constructor": 0,
        "import/no-named-as-default": 0
      }
    },
    {
      "files": ["script/**/*.ts"],
      "extends": ["@guanghechen", "@guanghechen/ts", "prettier"],
      "rules": {
        "@typescript-eslint/method-signature-style": 0,
        "@typescript-eslint/no-empty-interface": 0,
        "@typescript-eslint/no-useless-constructor": 0,
        "import/no-extraneous-dependencies": 0,
        "import/no-named-as-default": 0
      }
    },
    {
      "files": ["**/__test__/*.spec.ts", "**/__test__/util/*.ts", "jest.setup.ts"],
      "extends": ["@guanghechen", "@guanghechen/ts", "plugin:jest/recommended", "prettier"],
      "rules": {
        "@typescript-eslint/ban-ts-comment": 0,
        "@typescript-eslint/no-empty-interface": 0,
        "@typescript-eslint/no-useless-constructor": 0,
        "import/no-extraneous-dependencies": 0,
        "jest/expect-expect": 0
      }
    }
  ]
}
